<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxd.stutrack.mapper.StudentMapper">
    <!--分页遍历、模糊查询-->
    <select id="getAllStudents" resultType="map">
        select * from student
        <where>
            <if test="'all'!=sname">
              sname like concat('%',#{sname},'%')
            </if>
              and studentstate = 0
        </where>
          LIMIT #{counts},#{pagesize}
    </select>

    <select id="getSid" resultType="int">
        select sid from student where
    </select>

    <!--删除学生信息（假删）-->
    <update id="deleteStudentById">
        update from student set studentstate = 1 where sid=#{sid}
    </update>

</mapper>
